.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
    background-color: aliceblue;
}

.container p {
    margin: 0;
    color: black;
    font-size: 16px;
    text-align: center;
}
